@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Poppins&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

.container{
    text-align: center;
}

.container p{
  margin-top: 1em;
}

.menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#score{
  margin-top: 2em;
  font-size: x-large;
}

.button{
  margin-left: 2em;
}

.menu__list li{
  display: flex;
  justify-content: left;
  list-style: none;
  margin-top: 2em;
}






